<div class="container">
  <div class="row">
     <div class="col-xs-12" id="resHead">
         <h3>The Resume Of</h3>
         <h1>Jacob Johnson</h1>
       <a href="http://jacobjohnson.net"><h3>JacobJohnson.net</h3></a>
         <img src="http://jacobjohnson.net/img/logo.png" width="20%">
     </div>
   </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="workExp">
      <!-- Carsforsale.com -->
      <h1 class="heading">Work Experience</h1>
        <h2 class="title">Carsforsale.com</h2>
          <h3 class="subtitle">Graphics Specialist</h3>
            <h4 class="date">Oct. 2013 - Present</h4>
              <p>Managed the vehicle dealer website process from conception to completion. This included the design of dealer websites, templates, window stickers, logos, and maintenance of the department’s extensive image collection.</p>

      <!-- Sioux Falls Stampede -->
        <h2 class="title">Sioux Falls Stampede</h2>
          <h3 class="subtitle">Graphic Design Intern</h3>
          <h4 class="date">Aug. 2012 - May 2013</h4>
              <p>Created graphics to be displayed on the video board, in TV ads, and other materials to help promote the Sioux Falls Stampede.</p>

      <!-- Welcome Home Music -->
        <h2 class="title">Welcome Home Music</h2>
          <h3 class="subtitle">Co-owner / Designer</h3>
          <h4 class="date">Feb. 2013 - Present</h4>
              <p>Created a YouTube channel to promote free Electronic Dance Music. I design logos, banners, websites, and also animate and shoot my own videos.</p>

    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Skills</h1>
        <h2 class="title">Design</h2>
        <p>Advanced knowledge of Adobe Creative Suite; Photoshop, Illustrator, InDesign, After Effects,
          and Lightroom.</p>

       <h2 class="title">Code</h2>
        <p>Advanced knowledge of HTML5 and CSS3. Experience with building responsive websites with Twitter Bootstrap. Basic knowledge of Javascript and SEO techniques.</p>

      <h1 class="heading">Education</h1>
        <h2 class="title">Dakota State University</h2>
          <h3 class="subtitle">3.63 GPA</h3>
            <h4 class="date">Aug. 2009 - May 2013</h4>
              <p>Bachelor of Science in Digital Arts & Design.
Specialization: Computer Graphics</p>
    </div>
  </div>
  <div class="row">
  <div class="contact col-xs-12">
    <img width="100px" class="img-responsive" src="http://www.jacobjohnson.net/img/letter.png">
   <h1 class="title">Contact</h1>
      <p class="subtitle">
          4600 E. 54th St. #200<br />
          Sioux Falls, SD 57110<br />
        <a href="tel:1-605-261-9968">605.261.9968</a><br />
        <a target="_blank" href="http://www.JacobJohnson.net">www.JacobJohnson.net</a><br />
        <a href="mailto:hello@JacobJohnson.net">hello@JacobJohnson.net</a><br /></p>

                </div>
</div>
</div>
