<section class="welcome" data-scroll-index="0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="welcome-content text-center">
            <p>
              <a href=""  target="_blank" class="btn btn-primary social-button">Home</a>
              <a href=""  target="_blank" class="btn btn-primary social-button">Repository</a>
              <a href=""  target="_blank" class="btn btn-primary social-button">Story</a>
              <a onclick="window.print()"   target="_blank" class="btn btn-primary social-button">Download</a>

            </p>
            <h1>Noor Sheikh</h1>
            <p>To know more about me please click on the below buttons</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
         </div>
      </div>
    </div>
  </section>
<section class="resume" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <hr class="hr-line2" />
            </div>
          </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="head-bar"><i class="fa fa-book"></i> Education</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <article class="education">
            <h1>
              American University of Afghanistan
              <span class="label label-default">2010 - 2015</span>
            </h1>
            <h2>Bachelor Degree <small>Computer Science</small></h2>
           </article>
          <article class="education">
            <h1>
              Habibia High School
              <span class="label label-default">2005 - 2008</span>
            </h1>
            <h2>Baccalaureate <small>High School Graduation</small></h2>
           </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="head-bar"><i class="fa fa-briefcase"></i> Work</h3>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <hr class="hr-line2" />
          </div>
      </div>
      <div class="row">
           <article class="work">
            <h1>
              Checchi and Company Consulting Inc.
              <span class="label label-default">Jun 2014 - Present</span>
            </h1>
            <h2>System Developer</h2>
            <p>
              Checchi and Company Consulting, Inc. provides technical assistance,
              training and management services to promote social and economic
              development to help better the lives of people in developing and
              transitional nations.
            </p>
            <h4>Responsibilities & Achievements:</h4>
            <ul>
              <li>
                Development, installation and maintenance of online M&E data
                management systems for collecting the field data including field
                surveys, events monitoring data from field around the country.
              </li>
              <li>
                Querying the databases on need bases for data analysis through
                data reporting, statistical record generation and visualizing the
                collected data.
              </li>
              <li>
                Development of on call database systems, websites and other
                technology related task assigned by supervisor.
              </li>
              <li>
                Development of mobile applications for field data collection and
                gender awareness campaign.
              </li>
            </ul>
          </article>
          <article class="work">
            <h1>
              FirstRate Afghanistan
              <span class="label label-default">Aug 2012 - Dec 2012</span>
            </h1>
            <h2>Intern Software / Web Application Developer</h2>
            <p>
              In 2007, First Rate Afghanistan was established and registered with
              AISA. FirstRate have been growing and expanding into a leading
              IT/Tech company in Afghanistan FirstRate team of software engineers,
              web experts, and IT professionals provide its clients and customers
              around the world with professional, reliable, and cutting edge
              technology solutions.
            </p>
            <h4>Responsibilities & Achievements:</h4>
            <ul>
              <li>Working as a Software / Web Application Developer.</li>
            </ul>
          </article>
           <article class="work">
            <h1>
              Freelancer <span class="label label-default">2011 - Present</span>
            </h1>
            <h2>Web & Database Developer</h2>
            <p>
              Since 2011 I am working as a web and database developer. I have
              developer many websites and databases for Governmental, Non For
              Profit and Private sectors.
            </p>
          </article>
          <article class="work">
            <h1>
              FirstRate Afghanistan
              <span class="label label-default">Dec 2012 - Jun 2014</span>
            </h1>
            <h2>Software Engineer</h2>
            <p>
              In 2007, First Rate Afghanistan was established and registered with
              AISA. FirstRate have been growing and expanding into a leading
              IT/Tech company in Afghanistan FirstRate team of software engineers,
              web experts, and IT professionals provide its clients and customers
              around the world with professional, reliable, and cutting edge
              technology solutions.
            </p>
            <h4>Responsibilities & Achievements:</h4>
            <ul>
              <li>
                Analyzing, designing and developing mobile and web based
                applications.
              </li>
              <li>
                Implementing completed projects and providing accessibility and
                maintenance to the customers.
              </li>
              <li>
                Writing user manual, documentation for products and providing
                training to the users.
              </li>
              <li>Full stack front-end and back-end programming</li>
            </ul>
          </article>

      </div>
      <div class="row">
        <div class="col-md-12">
          <hr class="hr-line2" />
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <h3 class="head-bar">
                <i class="fa fa-tasks"></i> Professional Skills
              </h3>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 70%;"
                >
                  Javascript
                </div>
              </div>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 80%;"
                >
                  PHP & MySQL
                </div>
              </div>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 70%;"
                >
                  Symfony2 PHP Framework
                </div>
              </div>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 90%;"
                >
                  HTML5 & CSS3
                </div>
              </div>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 95%;"
                >
                  Bootstrap
                </div>
              </div>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 70%;"
                >
                  Foundation
                </div>
              </div>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 90%;"
                >
                  Git Version Controlling
                </div>
              </div>
            </div>
      </div>
    </div>
</section>
