<div class="content">
    <div class="container">
      <div class="row">

      <h2>Add New Post</h2>
      
      <form name="postForm" ng-submit=" blog.addPost()" novalidate>
              <h4>Title</h4>
              <input type="text" ng-model="blog.post.title"/>
              <h4>Body</h4>
              <textarea ng-model="blog.post.body" ng-list="/\n/" rows="10"></textarea>
              <h4>Featured Image URL</h4>
              <input type="text" ng-model="blog.post.image" placeholder="http://" />
              <br>
              <input type="submit" value="Submit" />
           </form>
      
        </div>
        
      </div>
    </div>