<div class="content">
    <div class="container">
      <div class="row">

      <h2>Add New Story</h2>
      
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <h4>Title</h4>
              <input  name="title" ngModel/>
              <h4>Body</h4>
              <textarea  name="content" rows = "10" ngModel ></textarea>
              <h4>Featured Image URL</h4>
              <input name="imgUrl" type="text" placeholder="http://" ngModel/>
              <br>
              <button mat-raised-button color="primary">Submit</button>
           </form>
      
        </div>
        
      </div>
    </div>