<app-header></app-header>

<div id="toolbar">
  <div class="wrapper">
    <div class="tool">
      <div align="center">
        <img src="../../../assets/image/avatars/1.jpg" height="70" width="70" />
      </div>
      <div class="title">Jiacheng</div>
    </div>
    <div class="first">
      <ul>
        <li>
          <div class="tool-add-image">
            <i class="fas fa-desktop"></i>
            <a href="#">View Site</a>
          </div>
        </li>
        <li>
          <div class="tool-change-background">
            <i class="fas fa-history"></i>
            <a href="">Stats</a>
          </div>
        </li>
        <li>
          <div class="tool-change-background">
            <i class="fas fa-file"></i>
            <a href="">Profile</a>
          </div>
        </li>
      </ul>
    </div>

    <div id = "subtitle" class="tool-change-background" >
        <font color="#F8F8FF" >Manage</font> 
    </div>

    <div class="first">
      <ul>
        <li>
          <div class="tool-add-image">
            <i class="fa fa-camera-retro"></i>
            <a href="#">Add Story</a>
          </div>
        </li>
        <li>
          <div class="tool-change-background">
              <i class="fas fa-id-card"></i>
            <a href="">Resume</a>
          </div>
        </li>
        <li>
          <div class="tool-change-background">
              <i class="fas fa-folder-open"></i>
            <a href="">Manage Repo</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
