<app-header></app-header>

<div id="toolbar">
  <div class="wrapper">
    <div class="tool">
      <div align="center">
          <img class="photo" src= "{{photoPath}}" height="70" width="70"> 
       </div>
      <div class="title">{{username}}</div>
    </div>
    <div class="first">
      <ul>
        <li>
          <div class="tool-add-image">
            <i class="fas fa-desktop"></i>
            <a (click) = "onHomePage()">View Site</a>
          </div>
        </li>
        <li>
          <div class="tool-change-background">
            <i class="fas fa-history"></i>
            <a (click) = "onStats()" >Stats</a>
          </div>
        </li>
        <li>
          <div class="tool-change-background">
            <i class="fas fa-file"></i>
            <a >Profile</a>
          </div>
        </li>
      </ul>
    </div>

    <div id = "subtitle" class="tool-change-background" >
        <font color="#F8F8FF" >Manage</font> 
    </div>

    <div class="first">
      <ul>
        <li>
          <div class="tool-add-image">
            <i class="fa fa-camera-retro"></i>
            <a (click) = "onAddStory()" >Story</a>
          </div>
        </li>
        <li>
          <div class="tool-change-background">
              <i class="fas fa-id-card"></i>
            <a (click) = "onAddResume()" >Resume</a>
          </div>
        </li>
        <li>
            <div class="tool-change-background">
                <i class="fas fa-envelope"></i>
              <a (click) = "onShowMsg()">Message</a>
            </div>
          </li>
        <li>
          <div class="tool-change-background">
              <i class="fas fa-folder-open"></i>
            <a (click) = "onShowRepo()">Manage Repo</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<app-history *ngIf="showNum == 0"></app-history>
<app-create-story *ngIf="showNum == 1" (storyCreated)="onStoryCreated($event)"></app-create-story>
<app-display-story *ngIf="showNum == 1" #childDisplayStory></app-display-story>
 
<app-create-resume *ngIf="showNum == 2"></app-create-resume>
<app-display-message *ngIf="showNum == 3"></app-display-message>

<app-manage-repo *ngIf="showNum == 4"></app-manage-repo>