<div id="toolbar">
	<div class="wrapper">
		<div class="tool">
        <div align="center"><img src="http://b-ssl.duitang.com/uploads/item/201812/05/20181205211932_xvslr.jpeg" height="70" width="70"/></div> 
        <div class="title">Jiacheng</div>
		</div>
				<div class="first">
			<ul>
				<li>
            <div class="tool-add-image">
              <i class="fa fa-cloud"></i>
              <a href="#">1</a>
            </div>
				</li>
				<li>
            <div class="tool-change-background">
              <i class="fa fa-folder-open"></i>
              <a href="">2</a>
            </div>
				</li>
        	<li>
            <div class="tool-change-background">
              <i class="fa fa-plus"></i>
              <a href="" onclick="return false;" class="new-card">new card</a>
            </div>
				</li>
          <li>
            <div class="tool-change-background">
              <i class="fa fa-trash-o"></i>
              <a href="" onclick="return false;" class="new-card">delete card</a>
            </div>
				</li>
			</ul>
		</div>
    <div class="first">
			<ul>
				<li>
            <div class="tool-add-image">
              <i class="fa fa-camera-retro"></i>
              <a href="#">2</a>
            </div>
				</li>
				<li>
            <div class="tool-change-background">
              <i class="fa fa-file-image-o"></i>
              <a href="">change background</a>
            </div>
				</li>
				<li>
            <div class="tool-change-background">
              <i class="fa fa-cog"></i>
              <a href="">background properties</a>
            </div>
				</li>
			</ul>
		</div>
    
  </div>
</div>