.welcome, .profile, .resume, .portfolio, .contact {
  padding-top: 50px;
}

.welcome {
  padding-top: 100px !important;
  padding-bottom: 20px;
}

.welcome-content h1 {
  font-weight: 900;
  font-size: 56px;
}

.welcome-content h2 {
  font-weight: 700;
  font-size: 26px;
}

.welcome-content p {
  padding-top: 10px;
  font-size: 14px;
}

.welcome-content p a {
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
}

.social-button {
  background-color: #e7e7e7;
  border: 1px solid #696969;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.social-button i {
  padding-right: 10px !important;
}

h3.head-bar {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}

h3.head-bar i {
  padding-right: 10px;
}

.progress-bar {
  background-color: #696969;
}

hr.hr-line1 {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

hr.hr-line2 {
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
  
.label {
  font-weight: 300;
  font-size: 12px;
  padding: 2px 8px;
}

.thumbnail-button {
  background-color: #696969;
  border: 1px solid #efefef;
}

 