<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<section class="welcome" data-scroll-index="0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="welcome-content text-center">
          <img
            src=""
            class="img-thumbnail img-circle"
            width="150px"
            height="150px"
          />
          <h1>Jiacheng Zhang</h1>
          <h2>Computer Software Developer</h2>
          <p>To know more about me please click on the below buttons</p>
          <p>
            <a href=""  target="_blank" class="btn btn-primary social-button">Resume</a>
            <a href=""  target="_blank" class="btn btn-primary social-button">Repository</a>
            <a href=""  target="_blank" class="btn btn-primary social-button">Story</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
       </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line1" />
      </div>
    </div>
  </div>
</section>
<section class="profile" data-scroll-index="1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="head-bar"><i class="fa fa-user"></i> About Me</h3>
        <p>
          I'm a computer software developer with 4+ year of experience in
          software development, web applications development, website
          development, mobile application development on android OS platform,
          M&E information management systems development, database development,
          documentation and user manual writer for software solutions. I have
          worked for several major clients such as USAID, UNICEF, FirstRate Inc
          and Group One MCXi.
        </p>
        <p>
          I'm truly passionate about my work and always eager to connect with
          other developers in my field. While I enjoy all aspects of my job, I
          think my favorite stage of a project is working with clients and
          businesses to analyze the projects deeply. As we go through the
          project analysis process, the ideas start to flow and that's always
          the fun part for me.
        </p>
        <p>
          I have a BA in Computer Science from American University of
          Afghanistan.
        </p>
        <p>
          I'm currently working as a freelance software and web solutions
          provider and also hold a position as a System Developer at Checchi
          Consulting & Company Inc.
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line2" />
      </div>
    </div>
  </div>
</section>

<section class="contact" data-scroll-index="4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="head-bar"><i class="fa fa-send"></i> Contact Me</h3>
      </div>
    </div>
    <div class="message">
      <div >
        <form role="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Name" />
          </div>
      
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="example@domain.com"
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" rows="8">
Type your message here...</textarea
            >
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-send"></i> Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
