<div class="heading" id="heading">
    <h1 class="heading-title">
        <span id="title-1">Review and edit your info</span><br /><br />
      </h1>
    <hr />
</div>
<div class="container">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
    <form
      id="contact-form"
      class="form"
      [formGroup]="infoForm"
      method="POST"
      role="form"
    >
      <div class="form-group">
          <label class="form-label" for="logo">Logo</label>

        <div
          class="profile"
          style="background-image:url(https://s-media-cache-ak0.pinimg.com/236x/07/1f/4e/071f4ee04c2f2eda7e0bc9b6196f4751.jpg)"
        >
          <label class="edit">
            <span>Logo</span>
            <input type="file" multiple />
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="domain-name">domainName</label>
        <input matInput  class="form-control" placeholder="Define your domain name" formControlName="domainName" #domainName>
      </div>
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input matInput  class="form-control" placeholder="Your name" formControlName="username" #username>
      </div>
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input matInput  class="form-control" placeholder="" formControlName="email" #email>
      </div>
      <div class="form-group">
        <label class="form-label" for="address">Address</label>
        <input matInput  class="form-control" placeholder="Enter your address" formControlName="address" #address>
      </div>
      <div class="form-group">
        <label class="form-label" for="phone">Phone</label>
        <input matInput  class="form-control" placeholder="Enter your phone number" formControlName="phone" #phone>
      </div>
      <div class="text-center">
        <button type="submit" (click)=" setupFinish(username.value,email.value,address.value,phone.value)" class="btn btn-start-order">Next</button>
      </div>
    </form>
  </div>
</div>
