<app-header></app-header>

<div class="heading" id="heading">
    <h1 class="heading-title">
        <span id="title-1">Complete your info</span><br /><br />
      </h1>
    <hr />
 </div>
<div class="container">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
    <form
      id="contact-form"
      class="form"
      [formGroup]="infoForm"
      method="POST"
      role="form"
    >
      <div class="form-group">
          <label class="form-label" for="logo">Logo</label>
            <img class = "photo" height="100px" width="100px" [src]="_d.bypassSecurityTrustUrl(imgsrc)">
            <input class = "select_photo" type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="fileChange($event)"/>
     </div>
      <div class="form-group">
        <label class="form-label" for="domain-name">Domain name</label>
        <input matInput  class="form-control" placeholder="Define your domain name" formControlName="domainName" #domainName>
      </div>
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input matInput  class="form-control" placeholder="Your name" formControlName="username" #username>
      </div>
      <!-- to be continued -->
      <!-- <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input matInput  class="form-control"  name="email" ngModel #email = "ngModel" [ngModelOptions]="{standalone: true}">

      </div> -->
      <div class="form-group">
        <label class="form-label" for="address">Address</label>
        <input matInput  class="form-control" placeholder="Enter your address" formControlName="address" #address>
      </div>
      <div class="form-group">
        <label class="form-label" for="phone">Phone</label>
        <input matInput  class="form-control" placeholder="Enter your phone number" formControlName="phone" #phone>
      </div>
      <div class="text-center">
        <button type="submit" (click)=" setupFinish(domainName.value,username.value,address.value,phone.value)"
        [disabled]="!uploader.getNotUploadedItems().length" class="btn btn-start-order">Next</button>
      </div>
    </form>
  </div>
</div>
