<div class="container">
  <h4> Recent Stories</h4>

  <mat-expansion-panel *ngFor="let s of stories" class="example-card" style="width: 600px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{s.title}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
     
    </mat-expansion-panel-header>
    <p  style="white-space: pre-line">
      {{s.content}}
    </p>
    <img width="120px" *ngIf = "s.urlPath.length != 0" src={{s.urlPath}} >
    <br>
    <mat-card-actions>
      <button mat-button (click)="onDelete(s._id)" >Delete</button>
    </mat-card-actions>
  </mat-expansion-panel>

</div>