<app-header></app-header>

<div class="page">
  <!-- 1. Header -->
  <header>
    <h1>{{ username }}</h1>
    <p class="address">Syracuse, NY 13205</p>
    <p class="contact">rowd3@gmail.com | (315)335-6431</p>
  </header>
  <!-- 2a. Resume Content -->
  <section class="resume_content">
    <article>
      <section>
        <div *ngFor="let edu of education">
        <h2>Formal Education</h2>
          <h3>
            {{ edu.school}}
            <span class="time"> <time datetime="">{{ edu.from }} - {{ edu.to }}</time>
            </span>
          </h3>
          <p>Major in {{ edu.major }}, {{ edu.degree }} Degree</p>
        </div>
      </section>

      <section>
        <h2>Professional Experience</h2>
        <div *ngFor="let exp of experience">

        <h3>
            {{exp.job}}
             <span class="time">
            <time  class="start"> {{exp.from}}</time>
            &#8211;  <time  class="start"> {{exp.to}}</time>
          </span>
        </h3>
        <p>
          <strong> {{exp.company}} </strong>
         </p>
         <p>{{exp.descrip}}</p>
        <!-- <ul *ngFor="let d of descrip">

          <li>
            Reduced software development delays and increased code quality by
            adapting the peer-to-peer code review process to leverage existing
            version control system functionality.
          </li>
        </ul> -->
      </div>
      </section>

      <section>
        <h2>Skills</h2>
        <ul *ngFor="let ski of skill">
          <li>{{ski.skill}}</li>
        </ul>
      </section>
    </article>
  </section>
  <div class="text-right">
    <button onclick="window.print()" class="btn-start-order">Download</button>
  </div>
</div>
