<app-header></app-header>
<div class="page">
  <!-- 1. Header -->
  <header>
    <h1>{{username}}</h1>
    <p class="address">{{address}}</p>
    <p class="contact">{{email}} | {{phone}}</p>
  </header>
  <!-- 2a. Resume Content -->
  <section class="resume_content">
    <article>
      <section>
        <h2>Education</h2>
        <div *ngFor="let edu of education">
          <h3>
            {{ edu.school}}
            <span class="time"> <time datetime="">{{ edu.from }} - {{ edu.to }}</time>
            </span>
          </h3>
          <p>Major in {{ edu.major }}, {{ edu.degree }} Degree</p>
        </div>
      </section>

      <section>
        <h2>Professional Experience</h2>
        <div *ngFor="let exp of experience">

        <h3>
            {{exp.job}}
             <span class="time">
            <time  class="start"> {{exp.from}}</time>
            &#8211;  <time  class="start"> {{exp.to}}</time>
          </span>
        </h3>
        <p>{{exp.company}}</p>
        <div *ngFor="let e of exp.descrip">
          <p>{{e}}.</p>
        </div>
      </div>
      </section>

      <section>
        <h2>Skills</h2>
        <ul *ngFor="let ski of skill">
          <li>{{ski.skill}}</li>
        </ul>
      </section>
    </article>
  </section>
  <div class="end"></div>
  <div class="text-right">
    <button (click)="print()" class="btn-start-order">Download</button>
  </div>
</div>
<!--endprint-->

 