<div class="container">
  <div class="heading" id="heading">
      <h1 class="heading-title">
          <span id="title-1">Pick a home page design</span><br /><br />
        </h1>
        <p class="heading-title">
          <span id="title-2">You can easily customize your colors, images, and more.</span><br />
        </p>
      <hr />
  </div>
  <div class="picture-area" id="picture-area">
      <div class="picture-grid">
          <div class="img-box one">
              <a href="https://codepen.io/thepunkprogrammer/full/opNpOe/" target="_blank"><img src="https://dl.dropboxusercontent.com/s/10kvx52gn7av9ly/tribute.png?dl=0" alt="Sex Art Sasha 5"></a>
          </div>
          <div class="img-box">
              <a href="https://codepen.io/thepunkprogrammer/full/YEMBVW/" target="_blank"><img src="https://dl.dropboxusercontent.com/s/rqnab8mryggthjj/quote.png?dl=0" alt="Organ Grinder"></a>
          </div>
          <div class="img-box">
              <a href="https://codepen.io/thepunkprogrammer/full/GyKWRO/" target="_blank"><img src="https://dl.dropboxusercontent.com/s/8wjhfzckdh0pg66/weather.png?dl=0" alt="Space Oddity"></a>
          </div>
          <div class="img-box">
              <a href="https://codepen.io/thepunkprogrammer/full/zpvwMB/" target="_blank"><img src="https://dl.dropboxusercontent.com/s/mx08kx5dtgmjgq4/wikipedia.png?dl=0" alt="SexyPedia"></a>
          </div>
          <div class="img-box">
              <a href="https://codepen.io/thepunkprogrammer/full/LePwyx/" target="_blank"><img src="https://dl.dropboxusercontent.com/s/5onynefgbond1k8/twitch.png?dl=0" alt="Pirate Radio Twitchin"></a>
          </div>
          <div class="img-box">
              <a href="https://codepen.io/thepunkprogrammer/full/xPvyEz/" target="_blank"><img src="https://dl.dropboxusercontent.com/s/l2vu33y5inxpb23/calculator.png?dl=0" alt="Julia++"></a>
          </div>

      </div>
  </div>

</div>
