<app-header></app-header>

<div class="container">
  <div class="heading" id="heading">
      <h1 class="heading-title">
          <span id="title-1">Pick a home page design</span><br /><br />
        </h1>
        <p class="heading-title">
          <span id="title-2">You can easily customize your colors, images, and more.</span><br />
        </p>
      <hr />
  </div>
  <div class="picture-area" id="picture-area">
      <div class="picture-grid">
          <div class="img-box one">
              <a [routerLink]="['/init_info',1]" ><img src="../../../../assets/image/HomePageTemplate/1.png" ></a>
           </div>
           <div class="img-box one">
            <a [routerLink]="['/init_info',1]" ><img src="../../../../assets/image/HomePageTemplate/2.png" ></a>
         </div> <div class="img-box one">
          <a [routerLink]="['/init_info',1]" ><img src="../../../../assets/image/HomePageTemplate/3.png" ></a>
       </div> <div class="img-box one">
        <a [routerLink]="['/init_info',1]" ><img src="../../../../assets/image/HomePageTemplate/4.png" ></a>
     </div>

      </div>
  </div>

</div>
