<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
<div class="outer">
  <header class="site-header">
    <!-- <div class="wrapper">

      <a class="site-title" href="#">Resume Tamplate</a>
      <div class="container noPrint">
        <a href="#about" class="btn btn-danger">About</a>
        <a href="#exp" class="btn btn-danger">Experience</a>
        <a href="#edu" class="btn btn-danger">Education</a>
        <a href="#skills" class="btn btn-danger">Skills</a>
      </div>
    </div> -->

    <div class="header-badge">
      <a data-toggle="modal" data-target="#shareModal">
        <img height="100%" width="100" src="https://clarkhacks.com/a/img/resume/head.png">
      </a>
    </div>
  </header>


  <div class="page-content">
    <div class="wrapper">
      <div class="home">
        <div class="top card">
          <a class="email" href="mailto:cweckmaniii@gmail.com">eMail Me</a>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <a style="display: block; width: 45%; max-width: 250px; margin-left: auto; margin-right: auto" onclick="window.print()" class="btn btn-res">Print</a>
          <a style="display: block; width: 45%; max-width: 250px; margin-left: auto; margin-right: auto" class="btn btn-res">Edit</a>

        </div>
        <a id="about"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title">What I have to say about myself...</span>

            <ul class="post-list">

              <div>

                <p class="say-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              </div>


            </ul>

          </div>
        </div>
        <a id="exp"></a>
        <a id="edu"></a>
        <div class="posts card">
          <div class="card-content white-text">
            <span class="card-title">Experience</span>

            <ul class="post-list ">


              <li><a href="#">SCHOOL</a>
                <div>
                  <p><small>DEGREE</small>
                  </p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </li>
              <li><a href="#">SCHOOL</a>
                <div>
                  <p><small>DEGREE</small>
                  </p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </li>
              <li><a href="https://sheldontheturtle.com/">Sheldon The Turtle</a>
                <div>
                  <p><small>May 2016 - Present</small>
                  </p>This is a vey special blog. It's a blog...for a turtle! I am the center of this blog as I did all the designing, developing, and set-up. I didn't have a team yet so what else could I do?</div>
              </li>
              <a id="skills"></a>
              <!-- Placed here for propper alignment -->
              <li><a href="https://clarkhacks.github.io">Clark Hacks Offical Blog</a>
                <div>
                  <p><small><a href="https://github.com/clarkhacks/clarkhacks.github.io/releases/" style="font-size: 1em;">Previous Versions</a> <br>November 5th, 2016 - Present </small>
                  </p>This is my personal blog all done by me. It was generated with the static site generator, Jekyll. Jekyll is such an amazing tool and I cannot wait for the next release!</div>
              </li>


            </ul>

          </div>
        </div>

        <div class="posts card">

          <div class="card-content white-text">
            <span class="card-title">Skills</span>

            <ul class="post-list noPrint">


              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:99%">
                    HTML
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width:98%">
                    CSS
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width:97%">
                    Git / GitHub
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width:93%">
                    Jekyll
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    BootStrap
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width:89%">
                    PhotoShop
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width:87%">
                    JavaScript
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    jQuery
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width:74%">
                    Angular
                  </div>
                </div>
              </li>
              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">Python</div>
                </div>
              </li>

              <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">Ruby</div>
                </div>
              </li>


            </ul>

            <!--ONLY FOR PRINTER -->
            <ul class="noScreen post-list">


              <li>
                <strong>HTML</strong>
              </li>
              <li>
                <strong>CSS</strong>
              </li>
              <li>
                <strong>Git / Github</strong>
              </li>
              <li>
                <strong>Jekyll</strong>
              </li>
              <li>
                <strong>BootStrap</strong>
              </li>
              <li>
                <strong>PhotoShop</strong>
              </li>
              <li>
                <strong>JavaScript</strong>
              </li>
              <li>
                <strong>jQuery</strong>
              </li>
              <li>
                <strong>Angular</strong>
              </li>
              <li>
                <strong>Python</strong>
              </li>

              <li>
                <strong>Ruby</strong>
              </li>


            </ul>


          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="site-footer">

    <div class="wrapper">

      <span class="footer-heading">YOUR NAME | Resume</span>

    </div>

  </footer>

</div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="social">
          <a class="facebookBtn smGlobalBtn" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc"></a>
          <a class="twitterBtn smGlobalBtn" href="https://twitter.com/intent/tweet/?text=Share&amp;url=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc"></a>
          <a class="googleplusBtn smGlobalBtn" href="https://plus.google.com/share?url=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc"></a>
          <a class="pinterestBtn smGlobalBtn" href="https://pinterest.com/pin/create/button/?url=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc&amp;media=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc&amp;summary=Share"></a>
          <a class="tumblrBtn smGlobalBtn" href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title=Share&amp;caption=Share&amp;content=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc&amp;canonicalUrl=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc&amp;shareSource=tumblr_share_button"></a>
          <a class="emailBtn smGlobalBtn" href="mailto:?subject=Share&amp;body=https%3A%2F%2Fclarkhacks.github.io%2Fresume%2Fdoc"></a>
        </div>

      </div>
    </div>
  </div>
</div>
