<!DOCTYPE html>
<html>
<head>
    <title>Initiate Your Website</title>
</head>

<body>
   <div>Pick your favorite homepage design.</div>
   <form action="/pageTemplate_selected" method="POST">
    <div>There will be some templetes which can be selected.</div>
    <button type="submit" >next</button>
    </form>
 </body>

</html>