<app-header></app-header>

<div class="container" id="container" >
 	<div class="form-container sign-up-container" >
		<form [formGroup]="registerForm" class="create-form">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
      <input matInput placeholder="Email" formControlName="email" #emailForReg>
      <input type="password" matInput placeholder="Password" formControlName="password" #passwordForReg>
      <button type="submit" (click)=" register(emailForReg.value,passwordForReg.value)" [disabled]="registerForm.pristine || registerForm.invalid" >Sign Up</button>

		</form>
  </div>

	<div class="form-container sign-in-container">
		<form  [formGroup]="loginForm" class="create-form">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<p>or use your account</p>
      <input matInput placeholder="Email" formControlName="email" #email>
      <input type="password" matInput placeholder="Password" formControlName="password" #password>
			<a href="#">Forgot your password?</a>
      <button type="submit" (click)=" login(email.value,password.value)" [disabled]="loginForm.pristine || loginForm.invalid" >Sign In</button>
		</form>
  </div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start your personal website</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>



